# docker-compose.app.yml
# NOT FOR PRODUCTION ##################################
# Must be merged with the base compose.               #
# - Adds the python application                       #
# #####################################################
name: st-utils

services:
  python-app:
   environment:
      - DEBUG=true
