# SENSOR TYPE: Milesight AM308L
# INSTRUCTIONS
# 1 - Input the data near the *fill tag AND remove the tag
# 2 - ONE (1) Sensor per config file,
# 3 - Filename, sensor key / sensor name attribute should be device MAC address,
# 4 - iot_links shall use entity NAMES to refer to other entities,
sensors:
  milesight.am308l:
    name: 24E124707E427315
    description: Milesight AM308L-LoRaWAN Indoor Air Quality Sensor (7 in 1)
    metadata: https://resource.milesight.com/milesight/iot/document/am30x-datasheet-en.pdf
    encodingType: application/pdf
    properties:
      wireless_transmission:
        technology: LoRaWAN
        frequency: CN470/RU864/IN865/EU868/US915/AU915/KR920/AS923-1&2&3&4
        tx_power: 16dBm(868MHz)/22dBm(915MHz)/19dBm(470MHz)
        sensitivity: 137dBm @300bps
        work_mode: OTAA/ABP Class A
      sensors:
        temperature:
          operating_principle: Digital CMOSens technology (MEMS)
          range: -20°C~60°C
          accuracy: ± 0.2°C
          resolution: 0.1°C
        humidity:
          operating_principle: Digital CMOSens technology (MEMS)
          range: 0% ~ 100% RH
          accuracy: ± 2% RH
          resolution: 0.5% RH
        motion:
          operating_principle: Passive infrared (PIR)
          detection_range: 80 ° Horizontal, 55 ° Vertical, 5m
          status: vacant / occupied
        light:
          operating_principle: Photodiode
          range: 0-60000 Lux (Determine as 6 levels, 0-5)
        tvoc:
          operating_principle: MOX (MEMS)
          range: 1.00~5.00 (IAQ Rating)
          accuracy: ±1
          resolution: 0.01
        barometric_pressure:
          operating_principle: Piezoresistive absolute pressure sensor (MEMS)
          range: 260 - 1260 hPa
          accuracy: ±0.5hPa
          resolution: 0.1 hPa
        carbon_dioxide:
          operating_princple: Nondispersive Infrared (NDIR)
          range: 400 ~ 500 ppm
          accuracy: ± (30 ppm + 3% of reading) at (0°C~ 50°C, 0% to 85%RH)
          resolution: 1 ppm
        pm_2.5_and_pm_10:
          operating principle: Laser Scattering
          range: 0 ~ 1000 μg/m3
          accuracy: 0~100(±10μg/m3) at 100~1000(±10 %) and (-10°C~ 60°C)
          resolution: 1 μg/m3
    iot_links:
      datastreams: &datastreams
        - battery_level
        - co2
        - humidity
        - light_level
        - passive_infrared
        - particulate_matter_10
        - particulate_matter_2_5
        - gauge_pressure
        - temperature_indoor
        - total_volatile_organic_compounds
        
things:
  Bucharest, Apartment "4", Living Room at Second Floor:
    name: Bucharest, Apartment "4", Living Room at Second Floor
    description: A south-westernly facing bedroom forming part of a three storey, load bearing masonry and reinforced concrete residential building in Bucharest, built between 1958-1960.
    properties: 
      orientation: south-west 
      floor: second
      room_type: living_room
    iot_links:
      datastreams: *datastreams
      locations:
        - District 4, Bucharest, Romania

locations:
  District 4, Bucharest, Romania:
    name: District 4, Bucharest, Romania
    description: Apartment located in District 4, Bucharest, Romania. The coordinates provided here are false due to privacy concerns.
    properties:
      climate_zone: Temperate, no dry season, hot summer
    encodingType: application/geo+json
    location: 
      type: Point
      coordinates: [44.409244, 26.107027]
    iot_links:
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

datastreams:
  temperature_indoor:
    name: temperature_indoor
    description: This datastream is measuring the internal room temperature.
    observationType: instant
    unitOfMeasurement: &temperature
      name: degree Celsius
      symbol: °C
      definition: https://unitsofmeasure.org/ucum#para-30
    observedArea: &observedArea # GeoJSON geometry field
      type: Polygon
      coordinates: null
    phenomenon_time: null
    result_time: null
    properties: null
    iot_links:
      observedProperties:
        - temperature_indoor
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  humidity:
    name: humidity
    description:  Datastream for observations of humidity levels in Bucarest Apartment.
    observationType: instant
    unitOfMeasurement:
      name: percent
      symbol: "%"
      definition: https://unitsofmeasure.org/ucum#para-29
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - internal_humidity
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  co2:
    name: co2
    description:  Datastream for observations of CO2 levels in Bucarest Apartment.
    observationType: instant
    unitOfMeasurement:
      name: parts per million
      symbol: ppm
      definition: https://unitsofmeasure.org/ucum#para-29
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - co2_levels
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  gauge_pressure:
    name: gauge_pressure
    description:  Datastream for observations of pressure levels in Bucarest Apartment.
    observationType: instant
    unitOfMeasurement: &millibar
      name: millibar
      symbol: mbar
      definition: https://unitsofmeasure.org/ucum#datyp2apdxatblxmp
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - gauge_pressure
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  battery_level:
    name: battery_level
    description:  Battery level of the sensor.
    observationType: instant
    unitOfMeasurement: &percentage
      name: percentage
      symbol: percent
      definition: ...
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - battery_level
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  passive_infrared:
    name: passive_infrared
    description: PIR.
    observationType: instant
    unitOfMeasurement: &trigger
      name: idle | active
      symbol: null 
      definition: boolean, active when motion was detected 
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - motion 
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  particulate_matter_10:
    name: particulate_matter_10
    description: ... 
    observationType: instant
    unitOfMeasurement: &nanograms_per_cubic_meter
      name: ... 
      symbol: μg/m3 
      definition: ... 
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - coarse_airborne_particles
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  particulate_matter_2_5:
    name: particulate_matter_2_5
    description: ... 
    observationType: instant
    unitOfMeasurement: *nanograms_per_cubic_meter
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - fine_airborne_particles
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  total_volatile_organic_compounds:
    name: total_volatile_organic_compounds
    description: ... 
    observationType: instant
    unitOfMeasurement: &IAQ_scale
      name: ... 
      symbol: null 
      definition: ... 
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - tvoc
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

  light_level:
    name: light_level
    description: ... 
    observationType: instant
    unitOfMeasurement: &lux_scale
      name: lux_scale 
      symbol: int 
      definition: Lux scale from 0 to 5 in bands of 10,000 lux 
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - light_level
      sensors:
        - 24E124707E427315
      things:
        - Bucharest, Apartment "4", Living Room at Second Floor

observedProperties:
  temperature_indoor:
    name: temperature_indoor
    definition: https://dbpedia.org/page/Temperature
    description: The temperature where the indoor module is placed.
    properties: null

  absolute_pressure:
    name: absolute_pressure
    definition: https://en.wikipedia.org/wiki/Pressure_measurement#Absolute
    description: The absolute pressure where the indoor module is placed.
    properties: null

  gauge_pressure:
    name: gauge_pressure
    definition: https://en.wikipedia.org/wiki/Pressure_measurement#Absolute
    description: The gauge pressure where the indoor module is placed.
    properties: null

  internal_noise_levels:
    name: internal_noise_levels
    definition: https://en.wikipedia.org/wiki/Ambient_noise_level
    description: The internal ambient noise level where the sensor is placed.
    properties: null

  co2_levels:
    name: co2_levels
    definition: https://en.wikipedia.org/wiki/Indoor_air_quality#Carbon_dioxide
    description: The C02 levels wherever the indoor module is placed.
    properties: null

  internal_humidity:
    name: internal_humidity
    definition: https://en.wikipedia.org/wiki/Humidity
    description: The internal humidity levels wherever the indoor sensor is placed.
    properties: null

  battery_level:
    name: battery_level
    definition: ...
    description: ...
    properties: null

  motion:
    name: motion
    definition: ...
    description: ...
    properties: null

  coarse_airborne_particles:
    name: coarse_airborne_particles
    definition: ...
    description: ...
    properties: null

  fine_airborne_particles:
    name: fine_airborne_particles
    definition: ...
    description: ...
    properties: null

  tvoc:
    name: tvoc
    definition: ...
    description: ...
    properties: null

  light_level:
    name: light_level # here names must match too (why?)
    definition: The amount of light in a room, in lux. 
    description: ...
    properties: null

