# SENSOR TYPE: Milesight AM308L
# INSTRUCTIONS
# 1 - Input the data near the *fill tag AND remove the tag
# 2 - ONE (1) Sensor per config file,
# 3 - Filename, sensor key / sensor name attribute should be device MAC address,
# 4 - iot_links shall use entity NAMES to refer to other entities,
sensors:
  milesight.am103l:
    name: 24E124725F067924
    description: Milesight AM103L-LoRaWAN Indoor Air Quality Sensor (3 in 1)
    metadata: https://resource.milesight.com/milesight/iot/document/am30x-datasheet-en.pdf
    encodingType: application/pdf
    properties:
      wireless_transmission:
        technology: LoRaWAN
        frequency: CN470/RU864/IN865/EU868/US915/AU915/KR920/AS923-1&2&3&4
        tx_power: 16dBm(868MHz)/22dBm(915MHz)/19dBm(470MHz)
        sensitivity: 137dBm @300bps
        work_mode: OTAA/ABP Class A
      sensors:
        temperature:
          operating_principle: Digital CMOSens technology (MEMS)
          range: -20°C~60°C
          accuracy: ± 0.2°C
          resolution: 0.1°C
        humidity:
          operating_principle: Digital CMOSens technology (MEMS)
          range: 0% ~ 100% RH
          accuracy: ± 2% RH
          resolution: 0.5% RH
        carbon_dioxide:
          operating_princple: Nondispersive Infrared (NDIR)
          range: 400 ~ 500 ppm
          accuracy: ± (30 ppm + 3% of reading) at (0°C~ 50°C, 0% to 85%RH)
          resolution: 1 ppm
    iot_links:
      datastreams: &datastreams
        - battery_level
        - co2
        - humidity
        - temperature_indoor
        
things:
  Acerra, Apartment "5", Bedroom at Fifth Floor:
    name: Acerra, Apartment "5", Bedroom at Fifth Floor
    description: A south facing bedroom forming part of a five storey, reinforced concrete residential building in Acerra, built in 1981.
    properties: 
      orientation: south
      floor: fifth
      room_type: bedroom
    iot_links:
      datastreams: *datastreams
      locations:
        - Acerra, Campania, Italy

locations:
  Acerra, Campania, Italy:
    name: Acerra, Campania, Italy
    description: Apartment located in Acerra, in the Campania region of Italy. The coordinates provided here are false due to privacy concerns.
    properties:
      climate_zone: Warm Mediterranean climate
    encodingType: application/geo+json
    location: 
      type: Point
      coordinates: [40.950258, 14.370949]
    iot_links:
      things:
        - Acerra, Apartment "5", Bedroom at Fifth Floor

datastreams:
  temperature_indoor:
    name: temperature_indoor
    description: This datastream is measuring the internal room temperature.
    observationType: instant
    unitOfMeasurement: &temperature
      name: degree Celsius
      symbol: °C
      definition: https://unitsofmeasure.org/ucum#para-30
    observedArea: &observedArea # GeoJSON geometry field
      type: Polygon
      coordinates: null
    phenomenon_time: null
    result_time: null
    properties: null
    iot_links:
      observedProperties:
        - temperature_indoor
      sensors:
        - 24E124725F067924
      things:
        - Acerra, Apartment "5", Bedroom at Fifth Floor

  humidity:
    name: humidity
    description:  Datastream for observations of humidity levels in Acerra Apartment.
    observationType: instant
    unitOfMeasurement:
      name: percent
      symbol: "%"
      definition: https://unitsofmeasure.org/ucum#para-29
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - internal_humidity
      sensors:
        - 24E124725F067924
      things:
        - Acerra, Apartment "5", Bedroom at Fifth Floor

  co2:
    name: co2
    description:  Datastream for observations of CO2 levels in Acerra Apartment.
    observationType: instant
    unitOfMeasurement:
      name: parts per million
      symbol: ppm
      definition: https://unitsofmeasure.org/ucum#para-29
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - co2_levels
      sensors:
        - 24E124725F067924
      things:
        - Acerra, Apartment "5", Bedroom at Fifth Floor

  battery_level:
    name: battery_level
    description:  Battery level of the sensor.
    observationType: instant
    unitOfMeasurement: &percentage
      name: percentage
      symbol: percent
      definition: ...
    observedArea: *observedArea
    phenomenon_time: null
    properties: null
    result_time: null
    iot_links:
      observedProperties:
        - battery_level
      sensors:
        - 24E124725F067924
      things:
        - Acerra, Apartment "5", Bedroom at Fifth Floor

observedProperties:
  temperature_indoor:
    name: temperature_indoor
    definition: https://dbpedia.org/page/Temperature
    description: The temperature where the indoor module is placed.
    properties: null

  co2_levels:
    name: co2_levels
    definition: https://en.wikipedia.org/wiki/Indoor_air_quality#Carbon_dioxide
    description: The C02 levels wherever the indoor module is placed.
    properties: null

  internal_humidity:
    name: internal_humidity
    definition: https://en.wikipedia.org/wiki/Humidity
    description: The internal humidity levels wherever the indoor sensor is placed.
    properties: null

  battery_level:
    name: battery_level
    definition: ...
    description: ...
    properties: null

  light_level:
    name: light_level # here names must match too (why?)
    definition: The amount of light in a room, in lux. 
    description: ...
    properties: null

